@import '../../main.scss';

#about {
    ul {
        display: grid;
        grid-template-columns: minmax(140px, 200px);
        list-style: none !important;
        
        @media screen and (min-width: $tablet/2) and (max-width: $tablet){
            grid-template-columns: minmax(140px, 200px) minmax(140px, 200px) !important;    
        }

        @include from($tablet){
            display: grid;
            grid-template-columns: minmax(140px, 200px) minmax(140px, 200px) minmax(140px, 200px) minmax(140px, 200px) !important;
            list-style: none !important;
        }

    }

    li {
        display: flex;
        align-items: center;
    }

    .content li:first-child{
        margin-top: 0.25em;
    }

    li::before {
        margin-right: 10px;
        content: "</>";
        font-size: 12px;
        font-weight: bold;
        color: $info;
        padding: 10px 0;
    }

    .image { 
        @include until($tablet){
            width: 64px;
            height: 64px;
        }

        margin: 0 auto !important;
    }
}