@import '../main.scss';

footer {
    background-color: $blue-darker;
    .copyright {
        padding-top: 4rem;
        padding-bottom: 0;
    }

    form {
        padding: 4rem 4rem 0 4rem;

        label {
            color: #FFFFFF !important;
        }
    }
}