@import '../main.scss';

.navbar{

    &.scrolled-in {
        visibility: visible;
        transition: all 300ms ease-in;
    }
    
    &.scrolled-out {
        visibility: hidden;
        transition: all 300ms ease-out;
        transform: translate(0, -100%);
    }

    &.is-light {
        a.navbar-item:hover{
            background-color: inherit !important;
            color: $info !important;
        }
    }

    @include mobile{
        &.is-active {
            width: 75vw;
        }
    }

    @include tablet-only{
        &.is-active {
            width: 50vw;
        }
    }

    @include touch{
        &.is-active {
            margin: 0 0 0 auto;
        }
        
        .navbar-item {
            padding: 1rem;
        }
        
        .navbar-menu {
            height: 100vh;
        }
    }
}

@include touch{

    html.locked-scroll {
        overflow: hidden;
    }

    #index.blur > div > *:not(.navbar) {
        filter: blur(3px) brightness(0.6);
        pointer-events: none;
        user-select: none;
    }
}
