@import '../main.scss';

div.social {
    width: 40px;
    position: fixed;
    bottom: 0px;
    color: rgb(168, 178, 209);
    left: 40px;

    @include until($tablet){
        display: none !important;
    }

    @include until($desktop){
        left: 15px !important;
    }

    ul {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;

        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0px auto;
            background-color: $blue-lighter;
        }

        > li {
            padding: 10px;

            > a {
               &:hover {
                   color: $info !important;
               }
            }
        }
    }
}